<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="INVIA_Assigniment">
  <test thread-count="5" name="TaskTest">
    <classes>
      <class name="task.testCases"/>
    </classes>
  </test> <!-- TaskTest -->
</suite> <!-- INVIA_Assigniment -->
